<div id="content_fields">
  <div class="row">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="row">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
</div>
